<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaifamiao.mapper.PaperstateMapper">

    <resultMap id="BaseResultMap" type="com.kaifamiao.model.Paperstate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="shijuanid" column="shijuanid" jdbcType="INTEGER"/>
            <result property="dstate" column="dstate" jdbcType="BIT"/>
            <result property="ystate" column="ystate" jdbcType="BIT"/>
            <result property="stno" column="stno" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shijuanid,dstate,
        ystate,stno
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from paperstate
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from paperstate
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kaifamiao.model.Paperstate" useGeneratedKeys="true">
        insert into paperstate
        ( id,shijuanid,dstate
        ,ystate,stno)
        values (#{id,jdbcType=INTEGER},#{shijuanid,jdbcType=INTEGER},#{dstate,jdbcType=BIT}
        ,#{ystate,jdbcType=BIT},#{stno,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.kaifamiao.model.Paperstate" useGeneratedKeys="true">
        insert into paperstate
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="shijuanid != null">shijuanid,</if>
                <if test="dstate != null">dstate,</if>
                <if test="ystate != null">ystate,</if>
                <if test="stno != null">stno,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="shijuanid != null">#{shijuanid,jdbcType=INTEGER},</if>
                <if test="dstate != null">#{dstate,jdbcType=BIT},</if>
                <if test="ystate != null">#{ystate,jdbcType=BIT},</if>
                <if test="stno != null">#{stno,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kaifamiao.model.Paperstate">
        update paperstate
        <set>
                <if test="shijuanid != null">
                    shijuanid = #{shijuanid,jdbcType=INTEGER},
                </if>
                <if test="dstate != null">
                    dstate = #{dstate,jdbcType=BIT},
                </if>
                <if test="ystate != null">
                    ystate = #{ystate,jdbcType=BIT},
                </if>
                <if test="stno != null">
                    stno = #{stno,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kaifamiao.model.Paperstate">
        update paperstate
        set 
            shijuanid =  #{shijuanid,jdbcType=INTEGER},
            dstate =  #{dstate,jdbcType=BIT},
            ystate =  #{ystate,jdbcType=BIT},
            stno =  #{stno,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
